img{
    height: 300px;
    width: 250px;
    float: left;
    margin-right: 20px;
}

.workWith{
    font-weight: bold
}

h1{
    text-align: center;
    color: rgb(255, 123, 0)
}

body{
    margin: 0 300px;
    float: left
}

.bio{
    font-size: 14px;
}